<!doctype html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
<title>Quiz Results</title>
 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/quizstyle.css">
<link href="https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Bungee+Shade|Cookie|Didact+Gothic|Fjalla+One|Josefin+Sans|Lalezar|Open+Sans+Condensed:300|Oxygen|Pacifico|Pattaya|Poiret+One|Satisfy" rel="stylesheet">
	</head>
	</br>
	</br>
<center><img src="https://media.giphy.com/media/TEFplLVRDMWBi/giphy.gif"></html>
</br>
</br>
<h2>You got {{ correct }} out of {{ total }}!</h2>
</br>
</br>
<p><a href="{% url 'start_page' %}">Back to start</a></p>
