<!doctype html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
<title>Quiz</title>
 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/quizstyle.css">
<link href="https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Bungee+Shade|Cookie|Didact+Gothic|Fjalla+One|Josefin+Sans|Lalezar|Open+Sans+Condensed:300|Oxygen|Pacifico|Pattaya|Poiret+One|Satisfy" rel="stylesheet">
	</head>
</br>
<h2>Do you know your history?</h2></body>
</br>
</br>